/* start custom scss snippet */

  .hili { color: #9fff79;}
  .wpath {
    //color: $text-color-function;
    background-color: black;
    color: white;
  }
  code.path {
    color: $text-color-function;
    //background-color: $yellow;
    font-size: 14px;
  }

  .center-image
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


/* end custom scss snippet */
